[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RandomProjectionTest"]
	path = RandomProjectionTest
	url = https://github.com/cran/RandomProjectionTest
